<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="http://www.xinhuanet.com/global/lib/jq/jquery1.12.4/jquery1.12.4.min.js"></script>
	<script src="http://www.xinhuanet.com/global/lib/xtpl/xtpl.js" auto></script>
	<style>
		img {
			width: 100px;
			height: 100px;
		}
	</style>
</head>

<body>

	<h1>随心模板 examples:</h1>

	<h2>data-name="list2" data-id="11114004" data-jid="11145727" data-attrs="62" data-x-count="3" data-x-skip="3"</h2>

	<ul>
		<!-- 随心模板 BEGIN -->
		<script data-name="list2" data-id="11114004" data-jid="11145727" data-attrs="62" data-x-count="3" data-x-skip="3" type="text/xtpl">
			<li>
				index{{$.index}}
				<br> title {{$.title}}
				<br> url {{$.url}}
				<br> imgsrc {{$.imgsrc}}
				<br> abstract {{$.abstract}}
				<br> pretitle {{$.pretitle}}
				<br> subtitle {{$.subtitle}}
				<br> keyword {{$.keyword}}
				<br> pubtime {{$.pubtime}}
				<br> author {{$.author}}
				<br> editor {{$.editor}}
				<br> source {{$.source}}
			</li>
		</script>
		<!-- 随心模板 END-->
	</ul>

	<h2>data-name="list3" data-id="11114004" data-jid="11145727" data-attrs="62 63 64" data-x-count="5"</h2>
	<ul>
		<!-- 随心模板 BEGIN -->
		<script data-name="list3" data-id="11114004" data-jid="11145727" data-attrs="62 63 64" data-x-count="5"  type="text/xtpl">
			<li>
				index{{$.index}}
				<br> title {{$.title}}
				<br> url {{$.url}}
				<br> imgsrc {{$.imgsrc}}
				<br> abstract {{$.abstract}}
				<br> pretitle {{$.pretitle}}
				<br> subtitle {{$.subtitle}}
				<br> keyword {{$.keyword}}
				<br> pubtime {{$.pubtime}}
				<br> author {{$.author}}
				<br> editor {{$.editor}}
				<br> source {{$.source}}
			</li>
		</script>
		<!-- 随心模板 END-->
	</ul>

	<h2>data-name="list8" data-id="11114005" data-jid="11145727" data-attrs="62" data-x-count="5" data-x-skip="0" data-x-keywords="hello world"</h2>
	<ul>
		<!-- 随心模板 BEGIN -->
		<script data-name="list8" data-id="11114005" data-jid="11145727" data-attrs="63" data-x-count="4" data-x-skip="0" data-x-keywords="hello world" type="text/xtpl">
			<li>
				index{{$.index}}
				<br> title {{$.title}}
				<br> url {{$.url}}
				<br> imgsrc {{$.imgsrc}}
				<br> abstract {{$.abstract}}
				<br> pretitle {{$.pretitle}}
				<br> subtitle {{$.subtitle}}
				<br> keyword {{$.keyword}}
				<br> pubtime {{$.pubtime}}
				<br> author {{$.author}}
				<br> editor {{$.editor}}
				<br> source {{$.source}}
			</li>
		</script>
		<!-- 随心模板 END-->
	</ul>

	<h2>data-name="list4" data-id="11114011" data-jid="11145727"</h2>
	<ul>
		<!-- 随心模板 BEGIN -->
		<script data-name="list4" data-id="11114011" data-jid="11145727" type="text/xtpl">
			<li>
					index{{$.index}}
				<br> title {{$.title}}
				<br> url {{$.url}}
				<br> imgsrc {{$.imgsrc}}
				<br> abstract {{$.abstract}}
				<br> pretitle {{$.pretitle}}
				<br> subtitle {{$.subtitle}}
			</li>
		</script>
		<!-- 随心模板 END-->
	</ul>

	<h2>data-name="list5" data-id="11114337" data-jid="11145727" data-x-skip="0" </h2>
	<ul>
		<!-- 随心模板 BEGIN -->
		<script data-name="list5" data-id="11114337" data-jid="11145727" data-x-skip="0" type="text/xtpl">
			<li>
				<br> index{{$.index}}
				<br> title {{$.title}}
				<br> url {{$.url}}
				<br> imgsrc {{$.imgsrc}}
				<br> abstract {{$.abstract}}
				<br> pretitle {{$.pretitle}}
			</li>
		</script>
		<!-- 随心模板 END-->
	</ul>

	<!-- 数据模板 -->
	<div id="xData" style="display:none;">
		
	</div>

	<script src="../src/page-builder.js">
	</script>
</body>

</html>