body {
    margin: 0;
    padding: 0;
    padding-top: 50px;
}

.clearfix {
    display: block;
}

.clearfix:after {
    content: '';
    overflow: hidden;
    width: 100%;
    height: 0px;
    font-size: 0px;
    margin: 0px;
    padding: 0px;
    display: block;
    clear: both;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.box {
    width: 1200px;
    margin: 0 auto 86px;
    background: #fff;
    .left {
        float: left;
        width: 500px;
    }
    .right {
        float: right;
        width: 650px;
    }
}

h2 {
    font-size: 18px;
    color: #666;
    i {
        font-style: normal;
        font-size: 14px;
        color: #c00;
        padding-left: 50px;
    }
    span{
        font-size: 12px;
        margin-left: 10px;
    }
}


/* 左侧可视化选项 */

.dataGroup {
    label {
        font-size: 16px;
        font-weight: 500;
        color: #666;
        line-height: 35px;
        display: inline-block;
        width: 128px;
    }
    input[type="text"] {
        width: 340px;
        height: 35px;
        line-height: 35px;
        font-size: 16px;
        color: #333;
        padding: 0 5px;
    }
    span {
        display: inline-block; // text-indent: 2em;
    }
    .descript,
    .dataName,
    .nodeid,
    .loop,
    .attr,
    .dayspan,
    .artattr,
    .keyword {
        margin-bottom: 15px;
    }
}

.loop,
.imgSize {
    li {
        margin-bottom: 15px;
    }
    span {
        display: inline-block;
        width: 128px;
        text-indent: 2em;
    }
}

.attr,
.artattr,
.props {
    label {
        float: left;
    }
    li {
        float: left;
        line-height: 35px;
        height: 35px;
        margin-left: 7px;
        width: 116px; // margin-right: 42px;
    }
}

.attr,
.props {
    ul {
        width: 370px;
        float: left;
    }
}


/* 添加数据按钮 */

.addBtn {
    width: 100px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    padding: 0;
    color: #fff;
    float: right;
    cursor: pointer;
    margin-top: 30px;
    margin-right: 12px;
    background: rgb(125, 126, 125);
    background: -moz-linear-gradient(top, rgba(125, 126, 125, 1) 0%, rgba(43, 43, 43, 1) 46%, rgba(14, 14, 14, 1) 46%, rgba(43, 43, 43, 1) 97%);
    background: -webkit-linear-gradient(top, rgba(125, 126, 125, 1) 0%, rgba(43, 43, 43, 1) 46%, rgba(14, 14, 14, 1) 46%, rgba(43, 43, 43, 1) 97%);
    background: linear-gradient(to bottom, rgba(125, 126, 125, 1) 0%, rgba(43, 43, 43, 1) 46%, rgba(14, 14, 14, 1) 46%, rgba(43, 43, 43, 1) 97%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#2b2b2b', GradientType=0);
}


/* 右侧tab选项 */

.tab-opts {
    span {
        width: 100px;
        height: 35px;
        display: inline-block;
        line-height: 35px;
        font-size: 14px;
        text-align: center;
        padding: 0;
        color: #fff;
        cursor: pointer;
        background: rgb(125, 126, 125);
        background: -moz-linear-gradient(top, rgba(125, 126, 125, 1) 0%, rgba(43, 43, 43, 1) 46%, rgba(14, 14, 14, 1) 46%, rgba(43, 43, 43, 1) 97%);
        background: -webkit-linear-gradient(top, rgba(125, 126, 125, 1) 0%, rgba(43, 43, 43, 1) 46%, rgba(14, 14, 14, 1) 46%, rgba(43, 43, 43, 1) 97%);
        background: linear-gradient(to bottom, rgba(125, 126, 125, 1) 0%, rgba(43, 43, 43, 1) 46%, rgba(14, 14, 14, 1) 46%, rgba(43, 43, 43, 1) 97%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#2b2b2b', GradientType=0);
    }
    span.active {
        background: rgb(243, 226, 199);
        background: -moz-linear-gradient(top, rgba(243, 226, 199, 1) 0%, rgba(193, 158, 103, 1) 50%, rgba(182, 141, 76, 1) 51%, rgba(229, 187, 128, 1) 100%);
        background: -webkit-linear-gradient(top, rgba(243, 226, 199, 1) 0%, rgba(193, 158, 103, 1) 50%, rgba(182, 141, 76, 1) 51%, rgba(229, 187, 128, 1) 100%);
        background: linear-gradient(to bottom, rgba(243, 226, 199, 1) 0%, rgba(193, 158, 103, 1) 50%, rgba(182, 141, 76, 1) 51%, rgba(229, 187, 128, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e5bb80', GradientType=0);
    }
}

.tab-cont {
    .item {
        display: none;
    }
    .active {
        display: block;
    }
    textarea {
        font-size: 16px;
        padding: 10px;
        width: 628px;
        height: 640px;
    }
}

#testData {
    height: 440px;
}

.cutline {
    width: 100%;
    height: 5px;
    margin: 30px auto;
    background: rgb(125, 126, 125);
    background: -moz-linear-gradient(top, rgba(125, 126, 125, 1) 0%, rgba(43, 43, 43, 1) 46%, rgba(14, 14, 14, 1) 46%, rgba(43, 43, 43, 1) 97%);
    background: -webkit-linear-gradient(top, rgba(125, 126, 125, 1) 0%, rgba(43, 43, 43, 1) 46%, rgba(14, 14, 14, 1) 46%, rgba(43, 43, 43, 1) 97%);
    background: linear-gradient(to bottom, rgba(125, 126, 125, 1) 0%, rgba(43, 43, 43, 1) 46%, rgba(14, 14, 14, 1) 46%, rgba(43, 43, 43, 1) 97%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#2b2b2b', GradientType=0);
}


/* 测试和正式按钮切换 */

.topHead {
    width: 1200px;
    margin: 20px auto;
    h1 {
        float: left;
        height: 80px;
        line-height: 80px;
        margin: 0;
    }
    .switchBtns {
        float: right;
        font-size: 18px;
        margin-top: 15px;
        span {
            padding-left: 15px;
            padding-right: 15px;
            float: left;
            height: 50px;
            line-height: 50px;
            color: #fff;
            cursor: pointer;
            transition: all 0.5s;
            background: #999;
            &.on {
                background: rgb(0, 0, 0);
                font-size: 24px;
            }
        }
    }
}

.box {
    display: none;
    &.on {
        display: block;
    }
}
h3{
    font-size: 16px;
}

.mystyle{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.loadfile{
    line-height: 30px;
    padding: 0.5em 1em ;
    background-color: #eee;
}
.filebuilder{
    box-sizing: border-box;
    position: fixed;
    top:0;
    left:0;
    right:0;
    height: 50px;
    overflow: visible;
    z-index: 1000;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}
.page-build-container{
    // display: none;
    position: fixed;
    width:100%;
    margin-left: -100%;
    left:0;
    right:0;
    top:50px;
    bottom:0;
    background: #fff9;
    z-index: 1;
    transition: all 0.5s ease-out;
    // opacity: 0;
}
.filebuilder.active .page-build-container{
    // display: block;
    margin-left:0;
    opacity: 1;
}

#loadfile-switch{
    font-size: 14px;
    float: right;
    cursor: pointer;
    line-height: 30px;
    width: 30px;
    text-align: center;
    background: #666;
    color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
}

.filebuilder.active #loadfile-switch{
    transform: rotate(-225deg);
}
.page-build-container > div{
    float:left;
    width: 50%;
    height:100%;
    position: relative;
}
.page-build-container .right-build{
    border-left: 1px solid #ccc;
    margin-left: -1px;
}

.page-build-container textarea {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 20px;
    background-color: #eee;
    font-size: 12px;
    line-height: 1.2;
}

.page-build-container textarea:focus{
    outline: none;
    background: #ccc;
}
.page-build-toggle{
    position: absolute;
    top: 1em ;
    right: 2em;
    background: rgba(0,0,0,0.5);
    color: #fff;
    padding:0.2em 0.5em;
    border-radius: 1em;

}